* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background: #000000; */
    color: #fff;
    line-height: 1.6;
}

/* globla stylying */
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

span {
    color: #00aaff;
}


section {
    padding: 80px 8%;
}

/* nav */
nav {
    position: sticky;
    top: 0;
    background: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3%;
    z-index: 1000;

}

nav h2 {
    color: #00aaff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #cccccccc;
    transition: 0.3s;
}

nav a:hover {
    color: #00aaff;
}

.nav-social-icons {
    display: flex;
    gap: 15px;
    font-size: 1.2rem;
}

.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

/* home */
#home {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../images/illustration-image.png") center/cover no-repeat;
}

.hero-content {
    text-align: center;
    max-width: 600px;
    margin-bottom: 80px;
}
.hero-content h1 {
    font-size: 2.5rem;
}

.hero-content p {
    margin: 15px 0;
    color: #cccccccc;
    font-size: 1.2rem;
}

.hero-content a {
    margin: 5px;
}

.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #c9edff;
    transition: 0.3s;
}

.cta-btn-secondary {
    display: inline-block;
    padding: 12px 25px;
    background: transparent;
    color: #00aaff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #00aaff;
    transition: 0.3s;
}

.cta-btn:hover {
    background: #0079ad;
}

.cta-btn-secondary:hover {
    background: #002535;
    color: #fff;
}

/* about */
#about {
    background: #111;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 40px;
    align-items: center;
}

.about-text p {
    color: #cccccccc;
    font-size: 1.2rem;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid #00aaff;
}

/* skills */
#skills {
    background: #565d66;
}

#skills h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.skill-group {
    background: #3a3a3a;
    padding: 25px;
    border-radius: 10px;
    height: 250px;
}

.skill-group:hover {
    transform: translateY(-5px);
    background: #222222;
    border-top: 5px solid #0079ad;
    /* transition: 0.3s; */
}

.skill-group h4 {
    margin-bottom: 15px;
    color: #ffffff;
}

.skill-group ul {
    list-style: none;
}

.skill-group li {
    margin: 10px 0;
    color: #cccccccc;
}

/* projects */
#projects {
    background: #474957;
}

#projects h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

#projects h3 {
    margin: 15px 0;
    color: #ffffff;
}

#projects a{
    text-decoration: none;
    color: black;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project-card {
    background: #444653;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    min-height: 460px;
    height: auto;
}

.project-card:hover {
    transform: translateY(-5px);
    background: #373a46;
    border-bottom: 5px solid #0079ad;
}

.project-card p {
    color: #cccccccc;
}

.project-image img {
    width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

/* contact */
#contact {
    background: #000000;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info a {
    display: block;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    color: #00aaff;
}

/* form */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 2px solid #00aaff;
}

.contact-form button {
    padding: 12px;
    background: #00aaff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #008ecc;
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: #141414;
    font-size: 0.9rem;
    color: #aaa;
}


/* responsive design */
@media (max-width: 1023px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    nav ul {
        position: absolute;
        top: 100%;
        left: +100%;
        width: 100%;
        background: #141414;
        flex-direction: column;
        text-align: center;
        padding: 18px 0;
        transition: 0.3s;
    }

    nav ul.active {
        left: 0;
    }

    .hamburger {
        display: block;
    }

    #home {
        padding: 0 20px;
        text-align: center;

    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .cta-btn, .cta-btn-secondary {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}
